# 淘宝镜像源  https://npmmirror.com/
registry=https://registry.npmmirror.com

# 腾讯镜像源  https://mirrors.cloud.tencent.com
# registry=https://mirrors.cloud.tencent.com/npm/

# 华为镜像源  https://mirrors.huaweicloud.com
# registry=https://mirrors.huaweicloud.com/repository/npm/
